{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="col-lg-8">
        <div class="row">
            <div class="card mb-4">
                <div class="row">
                    <div class="col-12">
                        {% for video in videos %}
                            {% if video.youtubeKey and video.official == true and video.type == "Trailer" %}
                                <iframe width="100%" style="aspect-ratio: 16 / 9"
                                        src="https://www.youtube.com/embed/{{ video.youtubeKey }}"
                                        title="{{ video.name }}" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-3">
                        <img class="img-fluid" src="https://image.tmdb.org/t/p/w300/{{ mostPopular.image }}" alt="Cover of {{ mostPopular.title }}"/>
                    </div>

                    <div class="card-body col-9">
                        <div class="row">
                            <div class="small text-muted">{{ mostPopular.releaseDate }}</div>
                            <h2 class="card-title">{{ mostPopular.title }}</h2>
                            <p class="card-text">{{ mostPopular.description }}</p>
                        </div>
                        <div class="row">
                            <div id="ratingForm">
                                <fieldset class="rating">
                                    {% for i in 20..2 %}
                                        <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}" {{  mostPopular.voteAverage|round * 2 == i ? 'checked' : ''}} />
                                        <label class = "{{ i is odd ? 'half' : 'full' }}" for="star{{ i }}" title="{{ i/2 }} stars"></label>
                                    {% endfor %}
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <p>{{ mostPopular.voteAverage }} vote average on {{ mostPopular.voteCount }} votes!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
