{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="col-lg-8">
        <div class="row">
            <div class="card mb-4">
                <div class="row">

                    {{ include('web/_movieModal.html.twig') }}

                    <div class="col-3">
                        <img class="img-fluid" src="https://image.tmdb.org/t/p/w300/{{ movie.image }}" alt="Cover of {{ movie.title }}"/>
                    </div>

                    <div class="card-body col-9">
                        <div class="row">
                            <div class="small text-muted">{{ movie.releaseDate }}</div>
                            <h2 class="card-title">{{ movie.title }}</h2>
                            <p class="card-text">{{ movie.description }}</p>
                        </div>
                        <div class="row">
                            <div id="ratingForm">
                                <fieldset class="rating">
                                    {% for i in 20..2 %}
                                        <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}" {{  movie.voteAverage|round * 2 == i ? 'checked' : ''}} />
                                        <label class = "{{ i is odd ? 'half' : 'full' }}" for="star{{ i }}" title="{{ i/2 }} stars"></label>
                                    {% endfor %}
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <p>{{ movie.voteAverage }} vote average on {{ movie.voteCount }} votes!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
